body {
    font-family: "Open Sans", sans-serif;
}

header{
    background-color: #FFF8F3;
    background-image: url('/images/developer.png');
    background-repeat: no-repeat;
}

a{
    text-decoration: none;
    color: black;
    margin-right: 50px;
}

.primary-btn{
    background-color: #FD6E0A;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    font-size: medium;
    font-weight: 700;
}

.secondary-btn{
    background-color: white;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    padding: 17px 34px;
    font-size: medium;
    font-weight: 700;
    margin-left: 20px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
}

nav > ul{
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
}

.nav-title{
    font-size: 45px;
    font-weight: 800;
}

.text-primary{
    color: #FD6E0A;
}

.banner{
    padding: 30px 30px 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner-btns{
    margin-top: 40px;
}
.about{
    margin: 100px 150px;
    background-color: #FFF8F3;
    padding: 120px 50px;
}

.about-details{
    display: flex;
    justify-content: space-evenly;
}

.what-i-do{
    margin: 0 150px 100px 150px;
}

.skills{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.skill-card{
    padding: 15px;
    margin: 0 15px;
    box-shadow: 5px 5px 5px rgb(166, 169, 170);
}

.text-center{
    text-align: center;
}

.summary{
    margin: 0 150px 100px 150px;
}

.infos{
    display: flex;
    justify-content: space-between;
}

.education {
    margin-right: 50px;
}