header {
    background-color: #FFF8F3;
    display: flex;
}

#developer-banner {
    margin: 40px;
    height: 660px;
}

#naviner {
    width: 80%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}